#root {
  /* max-width: 1280px; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  /* height: 100vh; */
  font-family: "Comfortaa", sans-serif;
  line-height: 150%;
  text-align: center;
  /* font-family: "Roboto Condensed", sans-serif; */

} 


/* Ensure no extra margins or paddings in the body */
html, body {
  background-color: rgb(255, 253, 240);
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scrollbars */
}

/* Background section */
.intro {
  position: relative;
  height: 80vh; /* Adjust height if necessary */
  background-image: url('/src/assets/1_3.png');
  background-size: cover;
  background-position: center;
  text-align: center;
}

/* Footer for Үйлөнүү Тойго Чакыруу */
.intro-footer {
  position: relative;
  height: 45vh; /* Adjust height if necessary */
  background-image: url('/src/assets/stih_only.png');
  background-size: cover;
  background-position: center;
  text-align: center;
}
.poem {
  position: relative;
  height: 45vh; /* Adjust height if necessary */
  background-image: url('/src/assets/posle_stiha.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
}
.invitation {
  position: relative;
  height: 65vh; /* Adjust height if necessary */
  background-image: url('/src/assets/invit_text.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
}

.details{
  position: relative;
  height: 55vh; /* Adjust height if necessary */
  background-image: url('/src/assets/date.png');
  background-size: cover;
  background-position: center;
  text-align: center;
}


.App{
  background-color: #FAF6F1;
  max-width: 449px;
  margin-bottom: 42px;

}
.intro-footer p {
  font-family: "Lobster", sans-serif;
  font-size: 1.5rem;
  color: black;
  margin: 0; /* Remove extra margins */
  padding-top: 10px; /* Slight padding for breathing room */
}
.pad{
  padding: 0;
}
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:12px;
}
.gallery img {
  width: 100%;
  border-radius: 8px;
}
@media only screen and (max-width: 768px) {
  body {
    width: 100%;
  }
  .gallery {
    padding: 0 12px;
  }

.App{
  width: 100%;
}
}
/* @media (s) {

} */

